body{
      margin:0;
      height:100vh;
      display:flex;
      justify-content:center;
      align-items:center;
      background:#2f2f2f;
      font-family:Arial, sans-serif;
    }

    .clock{
      font-size:100px;
      color:#dfffff;
      font-weight:bold;
      text-shadow:0 0 20px #00ffff;
    }